{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">


            <div class="serviceTopBar">
                <h4>Variation</h4>
                   {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}   
                 {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-danger">
                        {% for msg in app.session.flashBag.get('error') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}   
                <div class="serviceTopBarRight">
                    <form>

                        <div class="input-group">
                            <select id="services">
                                {% for service in services %}

                                    <option value="{{path('variations',{'id':service.id})}}" {% if(service.id == service_id) %} selected {% endif%}>{{ service.serviceName }}</option>
                                {% endfor%}
                            </select>
                        </div>
                        <div class="input-group addNewButton">
                            <button type="button" data-toggle="modal" data-target="#addvariation" ><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button>
                        </div>
                    </form>
                        <a class="btn btn-primary btn-goback" href="{{path('service')}}">&nbsp;back</a>
                </div>
            </div>
            <div class="foopanel panel">

            <div class="row">
              <div class="form-group">
                <div class="col-md-2 foosection">
                    <label class="control-label ">Update Cost:</label>
                </div>
                 <div class="col-md-10"> 
                    <form action="{{ path('update_variations_cost1') }}" method="POST" novalidate="false" id="addsubpricefrm" >                    
                        <input type="hidden" name="serviceid" value="{{ service_id }}" />                         
                         <div class="col-md-2">                            
                             <select name="amount_type" required onClick="showHidePer(this.value)" class="fooselect">  
                                <option value="fixed">Fixed</option>
                                <option value="percentage">Percentage</option>
                             </select> 
                         </div> 
                        
                         <div class="col-md-2">
                             <select name="add_subtract_symbol" required class="fooselect">  
                                <option value="-">-</option>
                                <option value="+">+</option>
                             </select> 
                         </div>  
                         <div class="col-md-2">
                             <input style="height:44px" type="text" pattern="\d*"  name="add_subtract_amount" required placeholder="eg 12" / class="fooselect"> 
                         </div>   
                         <div class="col-md-2"> 
                             <button type="submit">Save</button>
                         </div>
                           
                    </form>
                </div>
                </div>
             </div> 

            <div class="row">
             <div class="col-md-5">
               	<form class="form-horizontal superman" action="{{ path('upload_images') }}" method="POST" novalidate="false" id="addsubpricefrm" enctype="multipart/form-data">
				  <div class="form-group">
				    <label class="col-sm-4 control-label">Upload Bulk Images(ZIP):</label>
				    <div class="col-sm-4">				    
				       <input type="hidden" name="serviceid" value="{{ service_id }}" /> 
				       <input type="file" name="zip_file" /> 
				    </div>
				     <div class="col-sm-4">
				     	<button type="submit">Save</button>
				     </div>
				  </div>				  
				</form>                 	
               </div>

              <div class="col-md-5"> 
               	<form class="form-horizontal superman" action="{{ path('upload_csv') }}" method="POST" novalidate="false" id="addsubpricefrm" enctype="multipart/form-data">
				  <div class="form-group">
				    <label class="col-sm-4 control-label">Upload CSV:</label>
				    <div class="col-sm-4">
				      <input type="hidden" name="serviceid" value="{{ service_id }}" /> 
				       <input type="file" name="variarion_csv" />
				    </div>
				     <div class="col-sm-4">
				     	<button type="submit">Save</button>
				     </div>
				  </div>				  
				</form>                          
               </div>
                 <div class="col-md-2"> 
                    <button class="btn btn-primary"  style="padding:0" id="deleteSelected">Delete Selected</button>
                     <button class="btn btn-primary"  style="padding:0" onClick="deleteAllVariations({{service_id}})">Delete All</button>
                 </div>
            </div>
          
            </div> 
            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive variationTable">
                    <table>
                        <thead>
                            <tr>
                                <th><label style="color:#fff"><input type="checkbox" id="checkAl"> Select All</label></th>
                                <th>Start Height ( mm )</th>
                                <th>End Height ( mm )</th>
                                <th>Start Width ( mm )</th>
                                <th>End Width ( mm )</th>
                                <th>Cost</th>
                                <th> Edit / Delete</th>
                            </tr>
                        </thead>
                         {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-warning">
                                {% for msg in app.session.flashBag.get('error') %}
                                     <strong>Warning!</strong> {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <tbody>
                            {% for entity in entities %}
                                 {% if entity.startWith !=0 and entity.endWith !=0 %}
                                <tr>
                                    <td><input type="checkbox"  name="data[]" value="{{entity.id}}" id="data"></td> 
                                    <td>{{entity.startHeight}}</td>
                                    <td>{{entity.endHeight}}</td>
                                    <td>{{entity.startWith}}</td>
                                    <td>{{entity.endWith}}</td>
                                    <td>{{entity.cost}}</td>
                                    <td class="edit">
                                        <a data-toggle="modal" data-target="#editvariation-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                        <a data-toggle="modal" data-target="#orderdelete-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                            {% include 'ExpandatrckBundle:Modelpopup:editvariation.html.twig' %}
                                            {% include 'ExpandatrckBundle:Modelpopup:deletevariation.html.twig' %}
                                    </td>

                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                        <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:addvariation.html.twig' %}


<style>
#percentage_container{   
    display:none;
}
</style>


{% endblock %}

