<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ page_title is defined ? page_title ~ ' | EXPANDA TRACK' }}{% endblock %}</title>
        {% block stylesheets %}  
            <link rel="stylesheet" href="{{ asset('bundles/expandatrck/css/bootstrap.min.css') }}" />
            <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
            <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/style.css') }}" >
            <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/responsive.css') }}" >
            <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/bootstrap-datepicker.css') }}" >
            <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/toastr.css') }}" >
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        
    </head>
    <body>
        {% block body %}
            {% block user_header %}


            {% endblock %}
        {% endblock %} 
        {% block javascripts %}
            <script src="{{ asset('bundles/expandatrck/js/jquery-latest.js') }}"></script>
           
            <script src="{{ asset('bundles/expandatrck/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/theme.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/jquery.form.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/toastr.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/ckeditor/ckeditor.js') }}"></script>
            <script>
                var base_url = "{{ url('homepage') }}";
                CKEDITOR.replace('msg');
            </script>
                  <script>


    $(".dfbfbdfg").click(function(){
    
     var myBookId = $(this).data('id');

     $("#bookId").val( myBookId );

      });




  </script>
  <script>


    $(".test_email_s").click(function(){

     var myBookId = $(this).data('id');

     $("#bookIdtest").val( myBookId );

      });




  </script>
  

        {% endblock %}

        <footer class='text-center' id="footer">
            <p>Copyright &copy; ExpandATrack 2017-18. All Rights Reserved. Designed and Developed by <a href="http://42works.net/" target="_blank" >42Works</a>.</p>
        </footer>
    </body>
</html>
