{% extends "ExpandatrckBundle::base.html.twig" %}
{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9 newsletter-msg-settings">
        <div class="container">

         <div class="title-wrapper">
             {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <h2 class="pageTitle">Newsletter Message Settings</h2>
                </div>
                <div class="col-md-6 col-sm-4">
                    <div class="serviceTopBar">
                        <div class="serviceTopBarRight">
                            <div class="input-group addNewButton">
                                <button type="button" data-toggle="modal" data-target="#addnewslettermessage" ><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>    
            
            
         </div>
            
            
            <div class="contentAreaInner bgWhite fullWidth commonShadow inputFBF9FA addNewOrder">

                {% for item in entity %}
                    <form  action="{{ path('newsletter_message_edit') }}"  method="post" enctype="multipart/form-data">

                        <div class="">

                            <div class="form-group">
                                <label class="custom-title">Custom Message</label>
                                <div class="row">
                                    <div class="col-sm-6">
                                       <label class="secondry-title">TITLE: {{ item.title }}</label>
                                       <div class="item-title">
                                        <input type="text" name="title" value="{{ item.title }}"  placeholder="Edit Title"/>
                                       </div>
                                       <div class="item-content">
                                        <textarea rows="12" name="text"  placeholder="Message Here">{% if(item.text is not empty  ) %} {{ item.text }} {% endif %}</textarea>
                                        </div>                            
                                    </div>
                                    <div class="col-sm-6">
                                        <label>TITLE: {{ item.subtitle }}</label>
                                        <div class="item-title">
                                        <input type="text" name="subtitle" value="{{ item.subtitle }}" />
                                        </div>
                                        <div class="content-title">
                                        <input type="hidden" name="id" value="{{ item.id }}" />
                                        <textarea rows="12" name="subtext"  placeholder="message here...">{% if(item.subtext is not empty  ) %} {{ item.subtext }} {% endif %}</textarea>
                                        </div>                           
                                    </div>


                                </div> 
                                 
                            </div>
                            <div class="clearfix"></div>
                            <div class="newsletter-message-img-wrap">
                                <div class="row">
                                    <div class="col-sm-4 col-md-3">
                                        {% if(item.image1 is not empty  ) %} 
                                            <img src="{{ asset('/uploads/newslettermessage/'~item.image1)}}">
                                        {% endif %}
                                        <label for="usr_nwltr_msg">Upload To Edit Image :</label>
                                        <input type="file" name="image1">
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        {% if(item.image2 is not empty  ) %} 
                                            <img src="{{ asset('/uploads/newslettermessage/'~item.image2)}}">
                                        {% endif %}
                                        <label for="usr_nwltr_msg">Upload To Edit Image :</label>
                                        <input  type="file"  name="image2">
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                        {% if(item.image3 is not empty  ) %} 
                                            <img src="{{ asset('/uploads/newslettermessage/'~item.image3)}}">
                                        {% endif %}
                                        <label for="usr_nwltr_msg">Upload To Edit Image :</label>
                                        <input  type="file" name="image3"  >
                                    </div>
                                    <div class="col-sm-4 col-md-3">
                                      <div class="foo-wrap">
                                        {% if(item.image4 is not empty  ) %} 
                                            <img src="{{ asset('/uploads/newslettermessage/'~item.image4)}}">
                                        {% endif %}
                                        <label for="usr_nwltr_msg">Upload To Edit Image :</label>
                                        <input   type="file" name="image4">
                                       </div> 
                                    </div>
                                </div>
                                <br/>                                                            
                             
                                 <div class="row">
                                        <div class="col-sm-3">
                                           
                                              <input required type="text" name="button_text" value="{{ item.button_text }}"  placeholder="BUTTON TEXT"/>
                                        </div>
                                        <div class="col-sm-3 fooba">
                                           
                                            <label for="usr_nwltr_msg">Select File :</label> 
                                             {% if(item.document is not empty) %} 
                <a target="_blank" href="{{ asset('/uploads/newslettermessage/document/'~item.document) }}">{{ item.document }}</a>
                                            {% endif %}
                                            <input type="file" name="document">
                                        </div>
                                        <div class="col-sm-3">
                                             <input  type="text" name="file_url" value="{{ item.file_url }}"  placeholder="File Url"/>
                                        </div>
                                         
                                        
                                    </div>    

                                
                                
                        </div>

                        <div class="newsletter-button-bottom">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ item.id }}" />
                                <input type="submit"  value="Save Changes" class="btn btn-primary custom-btn newsletter-save-btn"/>
                                <a onClick="return confirm('Are you sure want to delete this newsletter?')" href="{{ path('msg_delete',{'id':item.id}) }}"><button type="button" class="btn btn-danger">DELETE</button></a>
                                <a onClick="return confirm('Are you sure want to send email to all users?')" href="{{ path('send_message_all',{'id':item.id}) }}"><button type="button" class="btn btn-primary custom-btn">Send email to all</button></a>
                                <button type="button" data-toggle="modal" data-id="{{ item.id }}" data-target="#sendnewslettermessage" class="dfbfbdfg btn btn-primary custom-btn selected-email-btn">Select email to send</button>
                                <button type="button" data-toggle="modal" data-id="{{ item.id }}" data-target="#testsendnewslettermessage" class="test_email_s btn btn-primary custom-btn selected-email-btn">Test email to send</button>
                              
                            </div>
                        </div>
                </div>
                </form>
                {# send email modal end#}
{% include 'ExpandatrckBundle:Modelpopup:addnewslettermessage.html.twig' %}
            {% endfor %} 
        </div>
    </div>
</div>

{# send email modal start  #}
<div id="sendnewslettermessage" class="modal fade addParameterPopup" role="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Select Email To Send</h4>
            </div>
            <div class="modal-body inputFBF9FA">

                <form  action="{{ path('send_email_selected_user')}}"  method="post" enctype="multipart/form-data">
                    <div class="">
                        <div class="form-group">
                            <input type="hidden" name="template_id" id ='bookId' >
                            {% for item in users %}

                                <div class="checkbox">
                                    <label class="">
                                        <input type="checkbox" name="emails[]" value="{{ item.email }}">
                                        <span>{{ item.email }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <input type="submit"  value="Send Email" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# send email modal end#}
{# test send email modal start  #}
<div id="testsendnewslettermessage" class="modal fade addParameterPopup" role="dialog">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Enter Email To Test</h4>
            </div>
            <div class="modal-body inputFBF9FA">
            <div class="container">
                <form  action="{{ path('test_send_email')}}"  method="post" enctype="multipart/form-data">
                    <div class="">
                        <div class="form-group">
                            <input type="hidden" name="template_id" id ='bookId' >
                            <lable>Enter Email</lable>>
                                        <input placeholder="Enter Email" type="email" name="email" required>
                                       <input type="hidden" name="template_id" id ='bookIdtest' >

                                </div>
                            
                        </div>
                        <div class="">
                        <div class="form-group">
                            <input type="submit"  value="Send Email" class="btn btn-primary"/>
                        </div>
                    </div>
                    
                    
                </form>
                </div>
               </div> 
            </div>
        </div>
    </div>


{% endblock %}
