{% extends "ExpandatrckBundle::base.html.twig" %}
{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">
      
            <div class="serviceTopBar salesPresentativeTopBar ">
                <h4 style="margin: 0;">Manage Subscriptions</h4>
                <div class="serviceTopBarRight">
                    <form path="" method="get">
                        <div class="input-group">
                            <input type="text" name="q" placeholder="Search by Name" value=""/>
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>

                        </div>
                    </form>   
                </div>
            </div>
            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                 {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if entities is empty%}
                    <div class="alert alert-info text-center">
                        <strong>No Record Matched</strong>
                    </div>
                {% else %} 
                    <div class="table-responsive orders">
                        <table>
                            <thead>
                                <tr>
                                    <th style="text-align: left;"s>Name</th>
                                    <th style="text-align: left;">Email</th>
                                    <th style="text-align: left;" class="act-tb">Action</th>
                                    <th style="text-align: left;">Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for item in entities %}
                                    <tr>
                                        <td style="text-align: left;"> {{ item.name }} </td>
                                        <td style="text-align: left;"> {{ item.email }} </td>
                                        <td style="text-align: left;">

                                         <a href="{{ path('subscription_update',{'id':item.id}) }}">
                                            <button type="button" class="btn btn-info">Subscribe</button>
                                         </a>

                                         <a href="{{ path('unsubscription_update',{'id':item.id}) }}">
                                            <button type="button" class="btn btn-danger">UnSubscribe</button>
                                         </a>
                                         </td>

                                        <td style="text-align: left;">{% if item.subscription == 1 %} ON {% else  %} OFF {% endif %}</td>
                                    </tr>
                                {% endfor %} 
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {% if(entities is not empty  ) %} {{ knp_pagination_render(entities) }} {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
{% endblock %}