<!--Add new Parameter popup-->
<div id="addnewslettermessage" class="modal fade addParameterPopup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Add Newsletter Message</h4>
            </div>
            <div class="modal-body inputFBF9FA">
                <form  action="{{ path('save_newsletter_message') }}"  method="post" enctype="multipart/form-data">
                    <div class="col-md-12">
                        <div class="form-group add-newsletter-foo">
                            
                            <label for="usr_nwltr">Enter Title First:</label>
                            <input type="text" name="title" placeholder="Enter Title"  required> 
                            <label for="usr_nwltr_msg">Enter Content First:</label>
                            <textarea rows="12" name="text"  placeholder="Message Here" ></textarea>

                            <label for="usr_nwltr">Enter Title Second:</label>
                            <input type="text" name="subtitle" placeholder="Enter Title"  required> 
                            <label for="usr_nwltr_msg">Enter Message Second:</label>

                            <textarea rows="12" name="subtext"  placeholder="Message Here" ></textarea> 
                             <div class="row">
                             <div class="col-sm-6">    
                            <label for="usr_nwltr_msg">Upload Image :</label>
                            <input  name="image1"  type="file" >
                             </div>
                             <div class="col-sm-6"> 
                             <label for="usr_nwltr_msg">Upload Image :</label>
                            <input  name="image2"  type="file" >
                             </div>
                            </div>
                             <div class="row">
                             <div class="col-sm-6">  
                             <label for="usr_nwltr_msg">Upload Image :</label>
                            <input  name="image3"  type="file" id='usr_nwltr_msg'>
                            </div>
                             <div class="col-sm-6"> 
                             <label for="usr_nwltr_msg">Upload Image :</label>
                            <input  name="image4"  type="file">
                            </div>
                            
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="margin-top:26px;"> 
                                     <input required type="text" name="button_text" value="{% if(item.button_text is not empty) %} {{ item.button_text }} {% endif %}"  placeholder="BUTTON TEXT"/>
                                </div>
                                <div class="col-sm-4">
                                  <label for="usr_nwltr_msg">Select File :</label> 
                                      {% if(item.document is not empty) %} 
            <a target="_blank" href="{{ asset('/uploads/newslettermessage/document/'~item.document) }}">{{ item.document }}</a>
                                        {% endif %}
                                        <input type="file" name="document">
                                </div>
                                <div class="col-sm-4" style="margin-top:26px;">
                                       <input  type="text" name="file_url" value="{{ item.file_url }}"  placeholder="File Url"/>
                                  </div>
                                  
                            </div>
                            
                            
                        </div>
                    </div>
                   
                    <div class="col-md-12" style="margin-top:20px;">
                        <div class="form-group">
                            <input type="submit"  value="Save" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Add new parameter end-->