<!--Add new installation popup-->
        <div id="newinstallation" class="modal fade newInstallationPopup" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Add New Installation</h4>
                    </div>
                    <div class="modal-body inputFBF9FA">
                        <form action="{{ path('add_installationcost') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="serviceid" value="{{ service_id }}" />
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12">
                                    <label>Start Range (Width)</label>
                                    <input placeholder="50" type="text" pattern="\d*" name="start_range" require />
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <label>End Range (Width)</label>
                                    <input placeholder="500" type="text" pattern="\d*" name="end_range" require />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Cost</label>
                                    <input placeholder="$5000" type="text" step="0.01" pattern="[0-9]+([\.,][0-9]+)?" name="cost" require/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-center btn-wrapper">
                                    <input type="submit" value="submit" class="btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!--Edit installation popup end-->