<!--Add user Popup-->

        <div id="adduser" class="modal fade inputFBF9FA editProfilePopup" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{asset('bundles/expandatrck/images/cancel.png')}}"></button>
                        <h4 class="modal-title">ADD A USER</h4>
                    </div>
                    <div class="modal-body">
                        <form id="adduserform" action="{{ path('user_create') }}" method="post" enctype="multipart/form-data">
                            <div class="col-xs-12 uploadPhotoWrapper">
                                <div class="uploadPhoto">
                                    <img class="preivew" id="blah" src="{{ asset('bundles/expandatrck/images/img.png') }}" alt="your image" />
                                    <div class="fileButton"><i class="fa fa-camera" aria-hidden="true"></i>
                                        <input type="file" class="mask_broswse" onChange="imageAddPreview(this)" name="user_image">
                                        <div class="uploadInfo">
                                            <h4>upload photo</h4>
                                            <span>Recomended size 190x190</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" name="fname" placeholder="First Name" required />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="lname" placeholder="Last Name" required/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email" required/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" name="phone" placeholder="Phone Number" required/>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" name="address" placeholder="Address" required/>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Bio</label>
                                    <textarea rows="6" name="bio" placeholder="Bio" required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" id="ctxtNewPassword" name="password" placeholder="Password" required/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" id="ctxtConfirmPassword" name="cnfpassword" placeholder="Confirm Password" required/>
                                </div>
                            </div>
                                    
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="submit" value="save changes" id="saveuser" class="btn btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Add user popup end-->