<!--Add new Parameter popup-->
        <div id="addvariation" class="modal fade addVariationModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Add Variation </h4>
                    </div>
                    <h4>{{ servicename }}</h4>
                    <div class="modal-body inputFBF9FA">

                        <form action="{{ path('add_variations') }}" method="post" enctype="multipart/form-data">
                            
                            <div class="col-xs-12 uploadPhotoWrapper">
                                <div class="uploadPhoto">
                                    <img class="preivew" id="blah" src="{{ asset('bundles/expandatrck/images/img.png') }}" alt="your image" />
                                    <div class="fileButton"><i class="fa fa-camera" aria-hidden="true"></i>
                                        <input type="file" class="mask_broswse" onChange="imageAddPreview(this)" name="variation_image">
                                        <div class="uploadInfo">
                                            <h4>Variation Image</h4>
                                            <span>Recomended size 190x190</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="serviceid" value="{{ service_id }}" />
                            
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6">
                                    <label>Start Width ( mm )</label>
                                    <input type="text" name="start_with" placeholder="50" pattern="\d*" required />
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label>End Width ( mm )</label>
                                    <input type="text" name="end_with" placeholder="500" pattern="\d*" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6">
                                    <label>Start Height ( mm )</label>
                                    <input type="text" name="start_height" placeholder="50" pattern="\d*" required />
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label>End Height ( mm )</label>
                                    <input type="text" name="end_height" placeholder="500" pattern="\d*" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Cost</label>
                                    <input type="text" name="cost"  title="This should be a decimal values." step="0.01" pattern="[0-9]+([\.,][0-9]+)?" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label><input id="alter_box" type="checkbox" name="alter" /> Alterations Required </label>
                                    
                                </div>
                            </div>
                            <div class="form-group alterText">
                                <div class="col-xs-12">
                                    <input type="text" name="alter"  placeholder="Enter static text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-center">
                                    <input type="submit" value="submit" class="btn-orange"/>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!--Add new parameter end-->