<!--Delete Popup-->
        <div id="orderdelete-{{ entity.id }}" class="modal fade orderDelete" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this installation?</p>
                        <div class="deleteButtonGroup">
                            {#<input type="submit" value="Yes" class="btn-primary">#}
                            
                            <a class="btn btn-primary" href="{{path('delete_installationcost',{ 'id':entity.id,'serviceid':service_id })}}">Yes</a>
                            <input type="submit" value="No" class="btn-grey" data-dismiss="modal" class="close">
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--Delete Popup end-->