<!--Install Modal-->
{% set meta = orderdetail.getSimpleMeta() %}





        <div id="installation-{{orderdetail.id}}" class="modal fade installATIONModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                        <h4 class="modal-title">Specifications</h4>
                        
                    </div>
                    <div class="modal-body">
                        <div id="response" style="color:red;display:none;">zxz</div>
                       <form  action="{{ path('update_service_order') }}" method="post" enctype="multipart/form-data">
                           <input type="hidden" name="orderid" value="{{ orderdetail.getOrders().getId() }}" />
                           <input type="hidden" name="serviceid" value="{{ orderdetail.getService().getId() }}" />
                            <input type="hidden" name="orderserviceid" value="{{ orderdetail.getId() }}" />
                           
                            <div class="form-group">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-group">
                                        <label>Width</label>
                                        {% if(orderdetail.getService().getCostType() == 'fixedcost') %}
                                        <input type="text" name="width" value="{% if meta.Width is defined %}{{meta.Width}}{% else %}0{% endif %}"  pattern="\d*" placeholder="0" disabled="disabled" />
                                        {% else %}
                                         <input type="text" name="width" value="{% if meta.Width is defined %}{{meta.Width}}{% else %}0{% endif %}"  pattern="\d*" placeholder="0" required />   
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="input-group">
                                        <label>Height</label>
                                        {% if(orderdetail.getService().getCostType() == 'fixedcost') %}
                                            <input type="text" value="{% if meta.Height is defined %}{{meta.Height}}{% else %} 0 {% endif %}" name="height" pattern="\d*" placeholder="0" disabled="disabled" />
                                        {% else %}
                                            <input type="text" value="{% if meta.Height is defined %}{{meta.Height}}{% else %}0{% endif %}" name="height" pattern="\d*" placeholder="0" required />
                                        {% endif %}
                                    </div>
                                </div>
                                
                                 <div class="col-sm-12 col-xs-12">
                                    <div class="input-group">
                                        <label>Description</label>
                                       
                                        <input type="text" name="description" value="{{ orderdetail.getDescription() }}"  placeholder="Description"  />
                                      
                                       

                                    </div>
                                </div>
                            </div>
                            

                            


                            <div class="form-group service-select" id="serviceparameter-{{ orderdetail.id }}" >
                             </div>

                             <div class="form-group">
                                <div class="col-xs-12">
                                    <label>Customer Text</label>
                                    <input type="text" name="customer_text"  value="{{ orderdetail.getCustomerText() }}"  placeholder="Enter Customer text" />  
                                </div> 
                            </div>  

                            <div class="col-xs-12 text-center">
                                <input class="btn btn-orange" type="submit" value="Update"/>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!--Install Modal End-->