
<!--Edit user profile Popup-->
<div id="editprofile-{{ user.id }}" class="modal fade editProfilePopup inputFBF9FA" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">EDIT</h4>
            </div>
            <div class="modal-body">
                <form action="{{ path('user_edit') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="userid" value="{{user.id }}" />
                    <div class="col-xs-12 uploadPhotoWrapper">
                        <div class="uploadPhoto">
                            {% if(user.path is empty)%}
                                <img class="preivew-{{user.id }}" id="blah" src="{{ asset('bundles/expandatrck/images/profile.png') }}" alt="your image" />
                            {% else %}
                                <img class="preivew-{{user.id }}" id="blah" src="{{ asset('/uploads/users/'~user.path)}}" alt="your image" />
                            {% endif %}
                            <div class="fileButton"><i class="fa fa-camera" aria-hidden="true"></i>
                                <input type="file" class="mask_broswse"  id="" onChange="imagePreview(this,{{user.id }})" name="user_image">
                                <div class="uploadInfo">
                                    <h4>upload photo</h4>
                                    <span>Recomended size 190x190</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="fname" value="{{user.fname}}" placeholder="First Name" required/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="lname" value="{{user.lname}}" placeholder="Last Name" required/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" name="email" value="{{user.email}}" placeholder="Email" disabled="disabled" required/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" name="phone" placeholder="Phone Number" value="{{user.phone}}" required />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" name="address" placeholder="Address" value="{{user.address}}" required />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Bio</label>
                            <textarea rows="6" name="bio" placeholder="Bio" required>{{user.bio}}</textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 text-left">
                        <div class="form-group">
                            <a class="changePassToggle"  href="javascript:;">Change Password</a>
                        </div>
                    </div>
                    <div class="chnagePasswordContent">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" id="txtNewPassword-{{ user.id }}" name="password" placeholder="Password"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" id="txtConfirmPassword-{{ user.id }}" name="cnfpassword" placeholder="Confirm Password"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-left">
                        <div class="form-group">
                            <input type="submit" value="save changes" class="btn btn-orange"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Edit user profile Popup End-->
<script>
    var password{{ user.id }} = document.getElementById("txtNewPassword-{{ user.id }}");
    var confirm_password{{ user.id }} = document.getElementById("txtConfirmPassword-{{ user.id }}");
    function validatePassword{{ user.id }}() {
        if (password{{ user.id }}.value != confirm_password{{ user.id }}.value) {
            confirm_password{{ user.id }}.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password{{ user.id }}.setCustomValidity('');
        }
    }
    password{{ user.id }}.onchange = validatePassword{{ user.id }};
    confirm_password{{ user.id }}.onkeyup = validatePassword{{ user.id }};
</script>
