<!--Add new Parameter popup-->
<div id="sendnewslettermessage" class="modal fade addParameterPopup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Select email to send</h4>
            </div>
            <div class="modal-body inputFBF9FA">
             <div class="container">
                <h2 class="pageTitle">Select Email</h2>
                <form  action=""  method="post" enctype="multipart/form-data">
                    <div class="col-md-12">
                        <div class="form-group">
                        
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit"  value="Save" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
              </div>  
            </div>
        </div>
    </div>
</div>
<!--Add new parameter end-->