<!--Orders view Popup-->

<!-- Modal -->
<div id="orders-{{ entity.id }}" class="modal fade ordersDetail" role="dialog">
    <div class="modal-dialog">
        {%  set orderService =  entity.id  | getOrderService %}
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/expandatrck/images/cancel.png') }}"/></button>
                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="ordersDetailTable">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{ entity.name }}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{entity.email}}</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>{{entity.phone}}</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td>{{entity.address}}</td>
                            </tr>
                            <tr>
                                <td>Quote Date:</td>
                                <td>{{entity.quoteDate | date('m/d/Y') }}</td>
                            </tr>
                            <tr>
                                <td>Expires:</td>
                                <td>{{entity.expires | date('m/d/Y') }}</td>
                            </tr>
                            <tr>
                                <td>Quotion:</td>
                                <td>{{entity.quotation}}</td>
                            </tr>
                             <tr>
                                <td>Tax Status:</td>
                                <td>{{entity.taxstatus | getTaxStatus }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="orderServicesTable">
                        <thead>
                            <tr>
                                <th>Services</th>
                                <th></th>
                                <th>Specification</th>

                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set subTotal = 0 %}
                           
                            {% for  orderdetail in entity.getServiceOrder() %}
                                {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                    {% set subTotal = subTotal + orderdetail.getVariation().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                {% else %}
                                    {% set subTotal = subTotal + orderdetail.getService().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                {% endif %}
                                <tr>
                                     <td>{{  orderdetail.getService().getServiceName() }} </td>
                                    <td></td>
                                    <td>
                                         {{ orderdetail.getService().getServiceName()  }}:{{  orderdetail.getVariation().getAlterText() }} {{  orderdetail.meta  | getParameters }}
                                            <br/>
                                            <span>Customer Text: {{ orderdetail.getCustomerText() }}</span>
                                    </td>
                                    <td>
                                        {{orderdetail.qty }}
                                    </td>
                                    <td><span class="total-ammount" id="ammount-{{orderdetail.id}}">

                                        {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                ${{ orderdetail.getVariation().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                            {% else %}
                                                ${{ orderdetail.getService().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                            {% endif %}
                                        
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            
                            
                            <tr>
                                <td>Installation Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td> {% set installationCost = 0 %}
                                        {% for orderdetail in  entity.getServiceOrder()  %}
                                            {% set installationCost = installationCost + orderdetail.getInstallationcost().getCost()  * orderdetail.qty  %}
                                        {% endfor %}
                                            <span id="installationCost">
                                                {% if(entity.isInclude) %}
                                                $0
                                                {% else %}  
                                                ${{ installationCost }}  
                                                {% endif%}
                                            </span></td>
                            </tr>
                            <tr>
                                <td>Service Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>{% if(entity.serviceCost is not empty) %}${{ entity.serviceCost }} {% else %} $0 {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Travel Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>{% if(entity.travelCost is not empty) %}${{ entity.travelCost }} {% else %} $0 {% endif %}</td>
                            </tr>
                            <tr>
                                <td>Other Cost</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>{% if(entity.other is not empty) %}${{ entity.other }} {% else %} $0 {% endif %}</td>
                            </tr>
                            
                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td id="sub-total">
                                    {% set orderTotal = 0 %}
                                        {% if(entity.isInclude) and entity.isManualInclude %}
                                             {% set orderTotal = subTotal + entity.serviceCost + entity.travelCost + entity.other %}
                                        {% elseif (entity.isInclude and  entity.isManualInclude == 0) %}    
                                            {% set orderTotal = subTotal  + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost %} 
                                        {% elseif (entity.isInclude ==0 and  entity.isManualInclude) %} 
                                            {% set orderTotal = subTotal  + entity.serviceCost + entity.travelCost + entity.other + installationCost %}   
                                        {% else %}   
                                             {% set orderTotal = subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost %}   
                                        {% endif %}        
                                        <span id="grandTotal">
                                             ${{ orderTotal}} 
                                        </span>  
                                </td>
                            </tr>
                            {% if entity.specialPrice > 0 %}
                            <tr>
                                <td>Special Price</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td id="sub-total">
                                   <span id="grandTotal">
                                             ${{ entity.specialPrice}} 
                                        </span> 
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

<!--Orders view popup end-->