<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Email</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>

            .mail-body{
                width: 610px;
                display: block;float: none;
                margin: 20px auto;
                background: #fff;
                border: 1px solid #2C4E74;
            }
            .mail-header{
                padding: 15px 15px 0;
                border-bottom: 3px solid #2C4E74;
            }
            .mail-header h1{
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }
            .img-logo-div{
                max-width: 100px;
                margin: 0 auto;
                display: block;
            }
            .img-logo-div img{
                display:block;
                max-width:100%;
                height:auto;
            }
            #mail-text-section, .mail-footer{
                padding: 15px;
            }
            #mail-text-section h2{
                font-size: 18px;
            }
            #mail-text-section p{
                font-size: 16px;
            }
            .ac-info label{
                font-weight: bold !important;
            }
        </style>
    </head>

    <body>
       
            {#<header style="background:#EEBD00;padding: 15px 15px 0;border-bottom: 3px solid #EBA443;">
                <div style="max-width: 150px;margin: 0 auto;display: block; padding: 20px 0px;">
                    <img style="display:block;max-width:100%;height:auto; width: 250px" src="http://42devlabs.com/hrconsolenew/web/bundles/arsplaybook/images/logo.png"/>

                </div>
            </header> <!-- /header -->  #}

            <main style="padding: 15px;">
                <div style="padding:0 15px;">
                    <p style="font-size: 16px;"> 
                    <p style="font-size: 16px;padding:0 15px">Hello <span><b>{{name}}</b></span></p>
                    <p  style="font-size: 16px;padding:0 15px">Welcome to the Expanda Track portal. Your account credentials are :</p>
                    <div>

                        <div style="font-size: 16px;padding:0 15px; margin-bottom: 10px;">
                            <label style="font-weight: bold"></label><b>Email:</b> <span>{{email}}</span>
                        </div>
                        
                        <div style="font-size: 16px;padding:0 15px">
                            <label style="font-weight: bold"></label><b>Password:</b> <span>{{password}}</span>
                        </div>
                    </div> <!-- ac-info -->
            </main>

            <footer style="padding: 15px;">
                <p>
                    If you have any problems accessing your account, contact Expanda Track at
                    contact@expandatrack.com
                </p>  
            </footer>
        </div>
    </body>

</html>
