<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Expand Track</title>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
    body{
        background-color: #ffffff;
        margin:0;
        padding:0;  
    }

    table td{font-family:arial}   
</style>
 <!--[if mso]>
<style> body,table tr,table td,a, span,table.MsoNormalTable {  font-family:Arial, Helvetica, sans-serif !important;  }</style>
<!--<![endif]-->
</style>
</head>
</head>

<body>
    <table align="center" width="600" style="max-width:600px;margin:0 auto;float:none;background-color:#ffffff;">
      <tr>
        <td>


        <table cellpadding="18" width="100%">
            <tr>
                <td style="background-color:#0864ad;" align="center">
                    <img src="http://95.85.14.116/uploads/email_images/logo.png" alt="logo">
                </td>
            </tr>
        </table>
        <table cellpadding="18">
            <tr><td></td></tr>
        </table>
        <table width="500" align="center">  
            <tr>
                <td align="center">
                    <font weight="400" size="6" face="Arial, Helvetica, sans-serif" color="#333333" style="font-size:25px;font-weight:600;">{{ tittle|nl2br }}</font>
                    <table>
                        <tr>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><img src="http://95.85.14.116/uploads/email_images/bar.png" alt="dash"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width="485" align="center" style="padding-bottom:10px">  
            <tr>
                <td align="center">
                    <font face="Arial, Helvetica, sans-serif" color="#333333" style="mso-line-height-rule:exactly; line-height:26px;">

                   {{ text|nl2br }} 
                </font>

                </td>
            </tr>
        </table>
        <table align="center" cellpadding="9">
            <tr>
                <td></td>
            </tr>
        </table>
        <table align="center" cellpadding="7">
            <tr>
                {% if(image1 is not empty  ) %} 
                 <td>
                    <img width="250" style="width:250px;box-shadow:1px 2px 4px rgba(0,0,0,0.3);border:1px solid #e8e8e8;" src="{{ image1 }}" alt="image"> 
                </td>
                {% endif %}
            
                {% if(image2 is not empty  ) %} 
                 <td>
                    <img width="250" style="width:250px;box-shadow:1px 2px 4px rgba(0,0,0,0.3);border:1px solid #e8e8e8;" src="{{ image2 }}" alt="image"> 
                </td>
                {% endif %}
            </tr> 
            <tr>
                {% if(image3 is not empty  ) %} 
                 <td>
                    <img width="250" style="width:250px;box-shadow:1px 2px 4px rgba(0,0,0,0.3);border:1px solid #e8e8e8;" src="{{ image3 }}" alt="image"> 
                </td>
                {% endif %}
            
                {% if(image4 is not empty  ) %} 
                 <td>
                    <img width="250" style="width:250px;box-shadow:1px 2px 4px rgba(0,0,0,0.3);border:1px solid #e8e8e8;" src="{{ image4 }}" alt="image">
                 </td>
                {% endif %}
                
            </tr>
        </table>
        <table align="center" cellpadding="9">
            <tr>
                <td></td>
            </tr>
        </table>
        <table width="500" align="center">
            <tr>
                <td align="center">
                    <font weight="800" size="+2" face="Arial, Helvetica, sans-serif" color="#333333" style="font-size:23px;">
                        <strong>{{ subtitle|nl2br }}</strong>
                    </font>
                </td>
            </tr>
        </table>
        <table width="485" align="center" style="padding-bottom: 0px;">
            <tr>
                <td align="center">
                    <font face="Arial, Helvetica, sans-serif" color="#333333" style="mso-line-height-rule:exactly; line-height:26px;">

                 {{ subtext|nl2br }}
                </font>
                </td>
            </tr>
        </table>
        <table width="485" align="center" cellpadding="32">
            <tr>
                 {% if(file_url is not empty  ) %} 
                     <td align="center">
                        <a style="height: 48px; padding: 17px; background: #4485f5; color: #fff; font-weight: bold; font-size: 16px; text-decoration: none; border-radius: 5px;" href="{{ file_url }}">{{ button_text }}</a>
                    </td>
                 {% else %}
                     {% if(document is not empty  ) %} 
                 
                    <td align="center">
                        <a style="height: 48px; padding: 17px; background: #4485f5; color: #fff; font-weight: bold; font-size: 16px; text-decoration: none; border-radius: 5px;" href="{{ document }}">{{ button_text }}</a>
                    </td>
                    {% else %}
                    <td align="center">
                        <table cellpadding="22">
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                        <a href="javascript:;" style="height: 48px; padding: 17px; background: #4485f5; color: #fff; font-weight: bold; font-size: 16px; text-decoration: none; border-radius: 5px;">{{ button_text }}</a>
                        <table cellpadding="22">
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                        <!-- <img src="http://95.85.14.116/uploads/email_images/button.png" alt="installation-guide"> -->
                    </td>
                     {% endif %}
                {% endif %}     
            </tr>
        </table>
        <table style="background-color:#f0f1f2;" cellpadding="26" width="600" align="center">
            <tr>
                <td>
                    <table width="300" align="center">
                        <tr>
                            <td>
                                <a href="#"><img src="http://95.85.14.116/uploads/email_images/facebook.png" alt="facebook"></a>
                            </td>
                            <td>
                                <a href="#"><img src="http://95.85.14.116/uploads/email_images/twitter.png" alt="facebook"></a>
                            </td>
                            <td>
                                <a href="#"><img src="http://95.85.14.116/uploads/email_images/pinterest.png" alt="pinterest"></a>
                            </td>
                            <td>
                                <a href="#"><img src="http://95.85.14.116/uploads/email_images/gplus.png" alt="gplus"></a>
                            </td>
                        </tr>
                    </table>
                    <table align="center" width="215">
                        <tr>
                            <td align="center">
                                <font size="2" face="Arial, Helvetica, sans-serif" color="#333333" style="line-height:1.4em;">expandatrack@gmail.com</font>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <font size="2" face="Arial, Helvetica, sans-serif" color="#333333" style="line-height:1.4em;">Expandatrack Ltd, 31 Stanmore Road</font>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <font size="2" face="Arial, Helvetica, sans-serif" color="#333333" style="line-height:1.4em;">Philipstown, Postal Code 8011, Christchurch</font>
                                </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="tel:(03)354 5525" style="text-decoration:none"><font size="2" face="Arial, Helvetica, sans-serif" color="#333333" style="line-height:1.4em;">(03)354 5525</font></a>
                            </td>
                        </tr>
                    </table>                    
                </td>
            </tr>
        </table>
        <table width="600" align="center" cellpadding="12" style="background-color:#2980f2">
            <tr>
                <td align="center">
                    <font size="1" color="#ffffff" face="Arial, Helvetica, sans-serif">Copyright &copy; ExpandATrack 2017-18. All Rights Reserved. Designed and Developed by 42Works.</font>
                </td>
            </tr>
        </table>
    </td>
      </tr> 
    </table>


  


</body>
</html>
