{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">

            <div class="serviceTopBar">

                <div class="serviceTopBarRight">
                    <form>

                        <div class="input-group">
                           <select id="services">
                                {% for service in services %}
                                   
                                    <option value="{{path('parameter',{'id':service.id})}}" {% if(service.id == service_id) %} selected {% endif%}>{{ service.serviceName }}</option>
                               {% endfor%}
                            </select>
                        </div>
                        <div class="input-group addNewButton">
                            <button type="button" data-toggle="modal" data-target="#addparameter" ><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button>
                        </div>
                    </form>
                        <a class="btn btn-primary btn-goback" href="{{path('service')}}"></i>&nbsp;back</a>
                </div>
            </div>

            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive">
                    <table class="parametterTable">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                 <th class="text-center"></th>
                                <th>Delete</th>
                               
                            </tr>
                        </thead>
                        {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-warning">
                                {% for msg in app.session.flashBag.get('error') %}
                                     <strong>Warning!</strong> {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <tbody>
                            {% if(entities | length > 0) %}
                            {% for entity  in entities %}
                            <tr>
                                <td><a href="{{ path('parameter_inner',{ 'id':entity.id,'serviceid':service_id }) }}">{{ entity.value }}</a></td>
                                <td class="text-right"><a class="btn btn-primary" href="{{ path('parameter_inner',{ 'id':entity.id,'serviceid':service_id }) }}">Add Options</a></td>
                                <td class="edit">
                                    
                                    <a data-toggle="modal" data-target="#orderdelete-{{ entity.id }}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                    {% include 'ExpandatrckBundle:Modelpopup:deleteparameter.html.twig' %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <td colspan="5" style="text-align:center">No Parameters Found</td>
                           {% endif%}
                        </tbody>
                    </table>
                         <div class="navigation">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:addparameter.html.twig' %}
    
{% endblock %}