{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
<style>
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #0864AD;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
</style>
    <div class="contentArea bgf9">
        <div class="container">

            <div class="serviceTopBar orderTB">
                <h4>Orders</h4>
                <div class="serviceTopBarRight">
                    <form path="{{path('user')}}" method="get">
                        <div class="input-group">
                            <input type="text" name="q" placeholder="Search by Name" value="{{app.request.get('q')}}"/>
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>

                        </div>
                    </form>  
                    <div class="input-group addNewButton">
                        <a href="{{ path('add_order') }}"><button type="button"><img src="{{ asset('bundles/expandatrck/images/plus.svg') }}"/>  Add New</button></a>
                    </div>

                </div>
            </div>
              {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}   
            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive orders">
                    <table class="table">
                        <thead>

                            <tr>
                                <th>{{ knp_pagination_sortable(entities, 'Name', 'a.name') }}</th>
                                <th>{{ knp_pagination_sortable(entities, 'Email', 'a.email') }}</th>
                                <th>Status</th>
                                <th>Quote Date</th>
                                
                                <th>Quote/Invoice</th>
                              
                                <th style="text-align: right;">View / Edit / Delete</th>
                            </tr>

                        </thead>

                        <tbody>
                            {% if entities is empty %}
                                <tr><td style="text-align:center" colspan="6">No Orders Found</td></tr>
                            {% else  %}
                                {% for  entity in entities %}
                                    <tr>
                                        <td>{{ entity.name }}</td>
                                        <td><img src="{{ asset('bundles/expandatrck/images/email.svg') }}"/> &nbsp;<a class="mail" href="mailto:{{entity.email}}">{{entity.email}}</a><br/>
<div class="form-group radio-on-order">
			<div style="padding-top:10px;">                            
                           
                            <label class="radio-inline" style="width:120px;">
                                <input type="radio" name="tax_status{{entity.id}}" value="1" onclick="updateTaxStatus({{entity.id}},1)"  {% if (entity.taxstatus ==1) %} checked="checked" {% endif %}>
                                    <span class="warp-text">Accepted</span>
                                </label>

                            <label class="radio-inline">
                                <input type="radio" name="tax_status{{entity.id}}" value="2"  onclick="updateTaxStatus({{entity.id}},2)" {% if (entity.taxstatus == 2) %} checked="checked" {% endif %}>
                                    <span class="warp-text">Reject</span>
                                </label></div><div style="padding-top:10px;">
                             <label class="radio-inline" style="width:120px;">
                                <input type="radio" name="tax_status{{entity.id}}" value="3" onclick="updateTaxStatus({{entity.id}},3)" {% if (entity.taxstatus == 3) %} checked="checked" {% endif %}>
                                    <span class="warp-text">Pending</span>
                                </label>
                            <label class="radio-inline">
                                <input type="radio" name="tax_status{{entity.id}}" value="4" onclick="updateTaxStatus({{entity.id}},4)" {% if (entity.taxstatus == 4) %} checked="checked" {% endif %}>
                                    <span class="warp-text">Completed</span>
                                </label>
</div>
                        </div></td>
                                        <td>{{ entity.taxstatus | getTaxStatus() }}</td>
                                        <td class="useremail-foo">{{ entity.quoteDate | date('dS M,Y')}}</td>
                                        <td class="quotion_invoice">
                                            <a href="{{ path('send_quotion',{id:entity.id}) }}">Send Quotation</a>
                                            <a href="{{ path('send_invoice',{id:entity.id}) }}">Send Invoice</a>
                                        </td>
                                       
                                        <td class="edit" style="text-align: right;">
                                            <a data-toggle="modal" data-target="#orders-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/eye.svg') }}"/></a>
                                            <a href="{{ path ('edit_order',{ 'id':entity.id }) }}"> <img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                            <a data-toggle="modal" data-target="#orderdelete-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                                {% include 'ExpandatrckBundle:Modelpopup:deleteorder.html.twig' %}
                                                {% include 'ExpandatrckBundle:Modelpopup:vieworder.html.twig' %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                         <div class="navigation">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
	function updateTaxStatus(order_id,value)
{
   
var key = "order_status";
 key = encodeURI(key); value = encodeURI(value);

    var kvp = document.location.search.substr(1).split('&');

    var i=kvp.length; var x; while(i--) 
    {
        x = kvp[i].split('=');

        if (x[0]==key)
        {
            x[1] = value;
            kvp[i] = x.join('=');
            break;
        }
    }

    if(i<0) {kvp[kvp.length] = [key,value].join('=');}

    //this will reload the page, it's likely better to store this until finished
    document.location.search = kvp.join('&')+"&order="+order_id; 

//top.location.href=document.location.search;
}
</script>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}


{% endblock %}
