<!DOCTYPE html>
<html>
    <head>
        <title>Quotation For Customer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('bundles/expandatrck/css/bootstrap.min.css') }}" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/style.css') }}" >
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/responsive.css') }}" >
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/bootstrap-datepicker.css') }}" >
        <link rel="stylesheet"  href="{{ asset('bundles/expandatrck/css/toastr.css') }}" >
    </head>
    <body>
        <header class="invoice">
            <div class="container">
                <img src="{{ asset('bundles/expandatrck/images/logo.png') }}"/>
            </div>
        </header>
        <div class="contentArea invoiceContentArea">
            <div class="container">
                <div class="contentAreaInner fullWidth">

                    <table class="customerDetail fullWidth">
                        <tr>
                            <td class="col-sm-6 customerDetailLeft">
                                <h3>Customer Details</h3>
                                <p>Customer Name/Company:{{ entity.name }}</p>
                                <p>Address:{{ entity.address }}</p>
                               
                                <p>Mobile: {{ entity.phone }}</p>
                                <p>Phone:{{ entity.phone }}</p>
                                <p>Email: {{ entity.email }}</p>
                            </td>
                            <td class="col-sm-6 customerDetailLeft quoteForcustomerCare">
                                <h2>Quote</h2>
                                <table>
                                    <tr>
                                        <td>
                                            <span>Quote Date:</span> {{ entity.quoteDate | date('d/m/Y') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Quote Expire:</span> {{ entity.expires | date('d/m/Y') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Quote No:</span> {{ entity.quoteno }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <!--Table Start-->
                    <div class="quotationTable QEx fullWidth">
                        <div class="table-responsive">
                            <table>
                                <thead>
                                  
                                    {% if( orderdetails is not empty ) %}
                                        {% set subTotal = 0 %}
                                         {% set count = 0 %}
                                       
                                    {% for orderdetails in result %}
                                     {% set count = count+1 %}
                                        <tr>
                                            <th>{{ (orderdetails['key'] ) ? orderdetails['key'] : 'Unknown'}}</th>
                                            {% if(count==1) %}
                                                <th>Cost</th>
                                                <th>Qty</th>  <th>image</th>
                                                  <th></th>
                                                <th>AMOUNT</th>
                                            {% else %}
                                                  <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                 <th>&nbsp;</th>
                                                 <th>&nbsp;</th>
                                            {% endif %}
                                          
                                        </tr>
                                   
                                    
                                </thead>
                                <tbody>
                                    
                                    
                                       
                                    {% for orderdetail in orderdetails['value'] %}
                                            
                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                            {% set subTotal = subTotal + orderdetail.getVariation().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                             {% else %}
                                             {% set subTotal = subTotal + orderdetail.getService().getCost()  * orderdetail.qty + orderdetail.getParameter() | getParametersCost * orderdetail.qty %}
                                            {% endif %}
                                         
                                            <tr>
                                            <td>
                                                {{ orderdetail.getService().getServiceName()  }}:{{  orderdetail.meta  | getParameters }}{{  orderdetail.getVariation().getAlterText()  }}
                                            </td>

                                            <td>   
                                               {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                    ${{ orderdetail.getVariation().getCost()  + orderdetail.getParameter() | getParametersCost }}
                                                {% else %}
                                                    ${{ orderdetail.getService().getCost()  + orderdetail.getParameter() | getParametersCost }}
                                                {% endif %}
                                            </td>
                                            <td>
                                             <span class="editText" title="Click to edit" onClick="chnageValue({{orderdetail.id}});" id="qtyvalue-{{orderdetail.id}}">{% if orderdetail.getQty is empty %} 1 {% else %} {{orderdetail.qty }}{% endif %}</span>
                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                            <input type="text" id="qty-{{orderdetail.id}}" value="1" onblur="checkValue(this,{{ orderdetail.getVariation().getCost() + orderdetail.getParameter() | getParametersCost  }} ,{{orderdetail.id}})" style="display: none;height:60px;width:60px;" />
                                            <input type="text" id="instcost-{{orderdetail.id}}" value="{{ orderdetail.getVariation().getCost()    }}" style="display: none;height:60px;width:60px;"  />
                                            {% else %}
                                                <input type="text" id="qty-{{orderdetail.id}}" value="1" onblur="checkValue(this,{{ orderdetail.getService().getCost() + orderdetail.getParameter() | getParametersCost  }} ,{{orderdetail.id}})" style="display: none;height:60px;width:60px;" />
                                            <input type="text" id="instcost-{{orderdetail.id}}" value="{{ orderdetail.getService().getCost()    }}" style="display: none;height:60px;width:60px;"  />
                                            {% endif %}
                                            {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                            <input class="ankit_field" type="text" id="totalinstcost-{{orderdetail.id}}" value="{{ orderdetail.getInstallationcost().getCost() * orderdetail.getQty   }}" style="display: none;height:60px;width:60px;"  />
                                            {% else %}
                                                <input class="ankit_field" type="text" id="totalinstcost-{{orderdetail.id}}" value="{{ orderdetail.getService().getCost() * orderdetail.getQty   }}" style="display: none;height:60px;width:60px;"  />
                                            {% endif %}  
                                            </td>
                                            
                                            <td> 
                                                 {% if(orderdetail.getVariation().getPath() is not empty) %}

                                                  {% if(orderdetail.getVariation().getPath() | asset_exists(orderdetail.getService().getId())) %}
                                                         <img class="preivew" id="blah" src="{{ asset('/uploads/variation/'~orderdetail.getService().getId()~'/'~orderdetail.getVariation().getPath())}}" alt="your image" width="50px" height="50px" />
                                                    {% else %}
                                                         <img class="preivew" id="blah" src="{{ asset('/uploads/variation/'~orderdetail.getVariation().getPath())}}" alt="your image" width="50px" height="50px" />
                                                    {% endif %}
                                                   
                                                 {% else %}
                                                     N/A
                                                 {% endif  %}
                                            </td>
                                            <td></td>
                                            <td>
                                                <span class="total-ammount" id="ammount-{{orderdetail.id}}">
                                                   {% if(orderdetail.getService().getCostType()  == 'variablecost') %}
                                                      
                                                    ${{ orderdetail.getVariation().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                                    {% else %}
                                                         
                                                      ${{ orderdetail.getService().getCost() * orderdetail.getQty + orderdetail.getParameter() | getParametersCost * orderdetail.qty }}
                                                      {% endif %}
                                                </span>
                                                <a href="{{ url('list_service_to_order',{'id':1627}) }}">Edit</a>
                                            </td>
                                        </tr>
                                         {% endfor %}
                                    {% endfor %}
                                    <tr class="subTotal">
                                        <td></td>
                                        <td></td>
                                        <td>Sub total</td>
                                        <td></td>
                                        <td></td>
                                        <td id="sub-total">${{ subTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Installation Cost
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            Exclude? <input type="checkbox" name="include_installatio" {% if(entity.isInclude) %} {{ "checked" }} {% endif%}id="include_installation_cost" onclick="includeInstallationCost({{entity.id}})" />
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            {% set installationCost = 0 %}
                                            {% for orderdetail in orderdetails %}
                                                {% set installationCost = installationCost + orderdetail.getInstallationcost().getCost()  * orderdetail.qty %}
                                            {% endfor %}
                                            <input type="hidden" id="includecost" value="{{ installationCost }}" />
                                            <span id="installationCost">
                                                {% if(entity.isInclude) %}
                                                ${{ 0 }}
                                                {% else %}
                                                     ${{ installationCost }}
                                                {% endif %}
                                                </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Manual Installation Cost
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            Exclude? <input type="checkbox" name="include_manual_installation" {% if(entity.isManualInclude) %} {{ "checked" }} {% endif%}id="include_installation_manual_cost" onclick="includeManualCost({{entity.id}})" />
                                            
                                           
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                           {% if(entity.isManualInclude) %}
                                               <span class="editText" title="Click to edit" onClick="chnageManualCost();" id="manual-cost"> $0 </span>
                                            <input type="text" id="change-manual-cost" value="{{ entity.manualCost }}" onblur="checkManualCostValue(this, 0  ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                            <input type="hidden" id="manualincludecost" value="{% if( entity.manualCost is empty)%} {{ 0 }} {% else %} {{ entity.manualCost}} {% endif %}" />
                                               {% else %}
                                            <span class="editText" title="Click to edit" onClick="chnageManualCost();" id="manual-cost">{% if(entity.manualCost is not empty) %}${{ entity.manualCost }} {% else %} $0 {% endif %}</span>
                                            <input type="text" id="change-manual-cost" value="{{ entity.manualCost }}" onblur="checkManualCostValue(this,{% if(entity.manualCost is not empty) %}{{ entity.manualCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                            <input type="hidden" id="manualincludecost" value="{% if( entity.manualCost is empty)%} {{ 0 }} {% else %} {{ entity.manualCost}} {% endif %}" />
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                    <td>

                                        Service Cost
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                     <td>  </td>
                                   
                                    
                                    <td>
                                        <span class="editText" title="Click to edit" onClick="chnageServiceCost();" id="change-service-cost">{% if(entity.serviceCost is not empty) %}${{ entity.serviceCost }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="change-cost" value="{{ entity.serviceCost }}" onblur="checkServiceCostValue(this,{% if(entity.serviceCost is not empty) %}{{ entity.serviceCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Travel Cost
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                     <td>  </td>
                                    <td>

                                    </td>
                                   
                                   
                                    <td>

                                        <span class="editText" title="Click to edit" onClick="chnageTravelCost();" id="travel-cost">{% if(entity.travelCost is not empty) %}${{ entity.travelCost }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="travel-cost-text" value="{{ entity.travelCost }}" onblur="checkTravelCostValue(this,{% if(entity.travelCost is not empty) %}{{ entity.travelCost }} {% else %} 0 {% endif %} ,{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="editText" title="Click to edit" onClick="chnageOtherText();" id="othertext">{% if(entity.otherText is not empty) %}{{ entity.otherText }} {% else %} Other {% endif %}</span>
                                        <input type="text" id="edit-other-text" value="{{ entity.otherText }}" onblur="checkOtherTextValue(this,{{entity.id}} )" style="display: none;" />
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                     <td>  </td>
                                    
                                    
                                    <td>

                                        <span class="editText" title="Click to edit" onClick="chnageOtherCost();" id="other">{% if(entity.other is not empty) %}${{ entity.other }} {% else %} $0 {% endif %}</span>
                                        <input type="text" id="other-cost" value="{{ entity.other }}" onblur="checkOtherCostValue(this,{% if(entity.other is not empty) %}{{ entity.other }} {% else %} 0 {% endif %},{{entity.id}} )" style="display: none;height:60px;width:60px;" />
                                    </td>
                                </tr>
                                
                                    <tr>
                                        <td>
                                            Your Quote is G.S.T Inclusive and contains a G.S.T amount of:
                                            {% if(entity.isInclude) %}
                                            <span id="grand-total-invoice">${{ (( subTotal  + entity.serviceCost + entity.travelCost + entity.other) * 0.15) |number_format(2, '.', ',')  }} </span>
                                            {% else %}
                                               <span id="grand-total-invoice">${{ ((subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other) * 0.15) |number_format(2, '.', ',') }} </span> 
                                             {% endif %} 
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        
                                    </tr>
                                    <tr class="total">
                                        <td>
                                            total:
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>  
                                        <td>
                                            {% if(entity.isInclude and entity.isManualInclude ) %}
                                            <span id="grandTotal">${{ subTotal + entity.serviceCost + entity.travelCost + entity.other}} </span>
                                            {% elseif (entity.isInclude and  entity.isManualInclude == 0) %}
                                                <span id="grandTotal">${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost }} </span>
                                            {% elseif (entity.isInclude ==0 and  entity.isManualInclude) %}
                                                <span id="grandTotal">${{ subTotal  + entity.serviceCost + entity.travelCost + entity.other + installationCost }} </span>
                                            {% else %}
                                               <span id="grandTotal">${{ subTotal + installationCost + entity.serviceCost + entity.travelCost + entity.other + entity.manualCost}} </span> 
                                             {% endif %}
                                            </td>
                                    </tr>
                                     {% if entity.specialPrice > 0 %}
                                    <tr class="total">
                                        <td>Special Price</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                           <span id="grandTotal">
                                             $ {{ entity.specialPrice}} 
                                            </span> 
                                        </td>
                                    </tr>
                                    {% endif %}
                                 {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    {% if ( orderdetails is not empty ) %}
                    <div class="input-group ">
                        <a style="margin-left:0;"  class="btn btn-primary" onClick="send_quotation_email({{entity.id}})" href="javascript:;">Send</a>
                        <a style="margin-left:0;" onClick="checkInstallationcost('{{ asset('/uploads/templatepdf/'~pdf)}}')" class="btn btn-primary" href="javascript:void(0)">Download pdf</a>
                        <a style="margin-left:0;"  onClick="checkInstallationcostOne()" class="btn btn-primary"  href="javascript:void(0)" >Manual Email</a>
                    </div>
                    {% endif %}
                    <!--div class="fullWidth offceUseOnly">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        Office Use Only  
                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Order Conf</td>
                                    <td>Alts Org</td>
                                    <td>TksOrg</td>
                                    <td>Blinds Org</td>
                                    <td>Install Date</td>
                                    <td>Comp date</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div-->
                </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/expandatrck/js/jquery-latest.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/bootstrap-datepicker.js') }}"></script>
            
            <script src="{{ asset('bundles/expandatrck/js/jquery.form.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/toastr.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/ckeditor/ckeditor.js') }}"></script>
            <script src="{{ asset('bundles/expandatrck/js/theme.js') }}"></script>
            <script>
                var base_url = "{{ url('homepage') }}";
                
            </script>
             {% include 'ExpandatrckBundle:Modelpopup:manual-email.html.twig' %}
        {% endblock %}
    </body>
</html>
