


{% block fos_user_content %}
    <link href="{{ asset('bundles/expandatrck/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/expandatrck/css/style.css') }}" rel="stylesheet" type="text/css">

    
    {# <form action="{{ path("fos_user_security_check") }}" method="post">
         <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
 
         <label for="username">{{ 'security.login.username'|trans }}</label>
         <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
 
         <label for="password">{{ 'security.login.password'|trans }}</label>
         <input type="password" id="password" name="_password" required="required" />
 
         <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
         <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
 
         <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
     </form>#}
    <div class="login">
        <img src="{{ asset('bundles/expandatrck/images/logo.png') }}"/>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h4>Welcome to <span>ExpandATrack</span></h4>
            <p>
                Just enter your email address or username and we'll Lorem Dummy
            </p>
            <div class="form-group">
                <input type="text" placeholder="Email" name="_username" required/>
                <img src="{{asset('bundles/expandatrck/images/login-email.png')}}"/>
            </div>
            <div class="form-group">
                <input type="password" name="_password" placeholder="Your Password" required/>
                <img src="{{asset('bundles/expandatrck/images/password.png')}}"/>
            </div>
            {% if error %}
                  <div style="color:#0186EF">Invalid username or password</div>
           {% endif %}
            <div class="form-group loginSubmit">
                <input type="submit" value="Login" id="_submit" name="_submit"/>
                <i class="fa fa-long-arrow-right fa-6 colorWhite" aria-hidden="true"></i>
            </div>
            
        </form>
    </div>
    <script src="{{ asset('bundles/expandatrck/js/jquery-latest.js') }}"></script>
    <script src="{{ asset('bundles/expandatrck/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/expandatrck/js/theme.js') }}"></script>



    <footer class='text-center'>
        <p>Copyright &copy; ExpandATrack 2016-17. All rights reserved. Designed and Developed by <a href="http://42works.net/" target="_blank" >42Works</a>.</p>
    </footer>
</div>
</div>

{% endblock fos_user_content %}
