{% extends "ExpandatrckBundle::base.html.twig" %}

{% block body %}
    {% include 'ExpandatrckBundle:Main:header.html.twig' %}
    {{ parent()}}
    <div class="contentArea bgf9">
        <div class="container">

            <div class="serviceTopBar">
                <h4>Products</h4>
                <div class="serviceTopBarRight">
                    <form path="{{path('service')}}" method="get">
                        <div class="input-group">
                            <input type="text" name="q" placeholder="Search by Name" value="{{app.request.get('q')}}"/>
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></span>
                        </div>
                    </form>
                    <div class="input-group addNewButton">
                        <button type="button" data-toggle="modal" data-target="#newservice" ><img src="{{asset('bundles/expandatrck/images/plus.png')}}">  Add New</button>
                    </div>
                    {# <a class="btn btn-primary btn-goback" href=""></i>&nbsp;back</a>#}
                </div>
            </div>

            <div class="contentAreaInner bgWhite fullWidth commonShadow">
                <div class="table-responsive">
                    <table class="serviceTable">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th colspan="2">Actions</th>

                            </tr>
                        </thead>
                        {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-warning">
                        {% for msg in app.session.flashBag.get('error') %}
                             <strong>Warning!</strong> {{ msg }}
                        {% endfor %}
                    </div>
                {% endif %}
                        <tbody>
                            {% if entities is empty %}
                                <tr><td style="text-align:center" colspan="5">No Prodcuts Found</td></tr>
                            {% else  %}
                                {% for entity  in entities %}
                                    <tr>
                                        <td>{{entity.serviceName}}</td>
                                        <td class="edit" style="text-align: right;">
                                            {% if entity.cost is empty %}

                                                <a class="btn btn-service color-grey" href="{{path('installation',{'id':entity.id})}}">Installation Cost</a>

                                                <a class="btn btn-service color-blue" href="{{path('variations',{'id':entity.id})}}">Variations</a>

                                            {% else %}
                                                {% if(entity.getInstallationcost() | length ) %}

                                                    <a data-toggle="modal" data-target="#installation-{{entity.id}}" class="btn btn-service color-grey" href="#">Edit Installation Cost</a>

                                                {% else %}
                                                    <a data-toggle="modal" data-target="#installation-{{entity.id}}" class="btn btn-service color-grey" href="#">Add Installation Cost</a>

                                                {% endif %}
                                                <a data-toggle="modal" data-target="#editcost-{{entity.id}}" class="btn btn-service color-blue" href="{{path('edit_service_cost')}}">Edit Cost</a>

                                                {% include 'ExpandatrckBundle:Modelpopup:edit-service-cost.html.twig' %}
                                                {% include 'ExpandatrckBundle:Modelpopup:edit-installation.html.twig' %}
                                            {% endif %}

                                            <a class="btn btn-service color-orange" href="{{path('parameter',{'id':entity.id})}}">Parameter</a>

                                            <a data-toggle="modal" data-target="#editservice-{{entity.id}}" href="#"> <img src="{{ asset('bundles/expandatrck/images/edit.svg') }}"/></a>
                                            <a data-toggle="modal" data-target="#orderdelete-{{entity.id}}" href="#"><img src="{{ asset('bundles/expandatrck/images/delete.svg') }}"/></a>
                                                {% include 'ExpandatrckBundle:Modelpopup:deleteservice.html.twig' %}  
                                                {% include 'ExpandatrckBundle:Modelpopup:editservice.html.twig' %}  

                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                        {#<div class="navigation">
                        {{ knp_pagination_render(entities) }}
                    </div>#}
                </div>
            </div>
        </div>
    </div>
    {% include 'ExpandatrckBundle:Modelpopup:profile.html.twig' %}
    {% include 'ExpandatrckBundle:Modelpopup:newservice.html.twig' %}
{% endblock %}